<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h2>Welcome, <%= current_user.username %> </h2>

    <% @tweets.each do |tweet| %>
      <p><%= tweet.content %></p>
    <% end %>

    <p><a href="/tweets/new">Create Tweet Here</a></p>
    <p><a href="/logout">Logout</a></p>

  </body>
</html>
