<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <% @tweets.each do |tweet| %>
      <p><%= tweet.content %></p>
    <% end %>

    <p>Create Tweet Here</p>

  </body>
</html>
