<!doctype html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h2>Sign Up for Fwitter!</h2>

    <form action="/signup" method="post">
      <label>Username: </label><input type="text" name="user[username]" placeholder="Username">
      <label>Password: </label><input type="password" name="user[password]">
      <label>Email: </label><input type="text" name="user[email]">
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
